@model MovieTheaterReservations.DisplayModels.Reservation.ReservationDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieShowingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieShowingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationContactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationContactType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
