@model MovieTheaterReservations.Models.DisplayModels.MovieShowing.MovieShowingSeatSelection

@{
    ViewData["Title"] = "MovingShowingAuditorium";
}

<h1>MovingShowingAuditorium</h1>

<div>
    <h4>MovieShowingSeatSelection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieShowingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieShowingId)
        </dd>
     

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoriumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoriumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auditorium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auditorium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieShowingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieShowingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieShowingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieShowingTime)
        </dd>
    </dl>
</div>
@foreach(var seat in Model.SeatLists)
{
     <dt class = "col-sm-2">
            @Html.HiddenFor(model => seat.SeatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => seat.SeatName)
        </dd>

}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
