@model MovieTheaterReservations.Models.DisplayModels.MovieShowing.MovieShowingSeatSelection

@{
    ViewData["Title"] = "MovingShowingAuditorium";
}

<div class="media-body">
  
   
        
        <div class="media-img-wrapper mr-2">
             <img class="media-img" src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.MovieTitle)" />
        </div>
       
            @Html.HiddenFor(model => model.MovieShowingId)
            
            <h2> @Html.DisplayFor(model => model.MovieTitle)</h2>
           
            <h2> @Html.DisplayFor(model => model.MovieShowingDate)</h2>
           
            <h2> @Html.DisplayFor(model => model.MovieShowingTime)</h2>
            @Html.HiddenFor(model => model.AuditoriumId)
            <h2> @Html.DisplayFor(model => model.Auditorium)</h2>
        
           
      
              
        


     
 

    
      <div>
  <div>
 <div class="seating-separator"></div>
  <div class ="auditorium">
     
      </div>
   @foreach(var seat in Model.SeatLists)
   { 
   
        <ul class="tile" >
   
         
           
      
          
               <li class="seat"> @Html.HiddenFor(model => seat.SeatId)@Html.DisplayFor(model => seat.SeatName)</li>
           
               </ul>
              
            
  
      

    }         
       
 </div>      
  




    <a asp-action="Index">Back to List</a>
</div>
   
    

