@model MovieTheaterReservations.DisplayModels.Movie.MovieDetail

@{
    ViewData["Title"] = "Details";
}



<div class="media">
  
   
        
        <div class="media-img-wrapper mr-2">
             <img class="media-img" src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Title)" />
        </div>
        <div class="media-body">
            
            <h2> @Html.DisplayFor(model => model.Title)</h2>
           
            <h2> @Html.DisplayFor(model => model.Rating)</h2>
           
            <h2> @Html.DisplayFor(model => model.Duration) Minutes</h2>
         </div>
           
      
              
        
</div>
@foreach(var movie in Model.ShowTimes)
{
     <dt class = "col-sm-2">
            @Html.HiddenFor(model => movie.MovieShowingId)
        </dt>
        <dd>
        <input type="button" class= "btn-primary" value="@Html.DisplayFor(model => movie.MovieShowingTime)" onclick="location.href='@Url.ActionLink("Details", "MovieShowing", new { id = movie.MovieShowingId})'"/>
         @*@Html.ActionLink("@Html.DisplayFor(model => movie.MovieShowingTime)", "Details", "MovieShowing", new { id = movie.MovieShowingId})*@
        </dd>

}
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    <a asp-action="Index">Back to List</a>
</div>
