@model IEnumerable<MovieTheaterReservations.DisplayModels.Movie.MovieListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
<ul class=list-unstyled">


@foreach (var item in Model) {
        <li class="media my-3">>
            <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Title)" />
             @Html.HiddenFor(modelItem => item.Id)
             @Html.HiddenFor(modelItem => item.Title)
             @Html.HiddenFor(modelItem => item.Rating)
             
             <div class="media-body">
                 <input type="button" class= "btn-primary" value="Edit" onclick="location.href='@Url.ActionLink("Edit", "Movie", new { id = item.Id})'"/>
                 <input type="button"class= "btn-primary"  value="Today's ShowTimes" onclick="location.href='@Url.ActionLink("Details", "Movie", new { id = item.Id})'"/>
                 <input type="button" class= "btn-primary" value="Delete" onclick="location.href='@Url.ActionLink("Delete", "Movie", new { id = item.Id})'"/>
             </div>
             </div>
        </li> 
               
       }    
                
               
   </ul>        
                
           
               @* @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        


