@model IEnumerable<MovieTheaterReservations.DisplayModels.Seat.SeatListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditoriumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditoriumId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SeatId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.SeatId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SeatId  })
            </td>
        </tr>
}
    </tbody>
</table>
